@page "/"
<h3>Home</h3>
@if (_model.InputUsername != _login.Username)
{
	
}
@code {
	private Login _login = new Login();

	private readonly BankLogin _model = new();
	private class BankLogin
	{
		public string? InputUsername { get; set; }
		public string? InputPassword{ get; set; }
		private void Clear()
		{
			InputUsername = string.Empty;
			InputPassword = string.Empty;
		}
	}

	private async Task BankLoginAsync()
	{
		try
		{
			Console.WriteLine(_model);
		}
		catch (Exception exception)
		{
			Console.WriteLine(exception);
		}
	}

	private bool isLoggedIn = false;
	private string LoginAlert = "";
	private void HandleLogin()
	{
		if (_model.InputUsername == _login.Username && _model.InputPassword == _login.Password)
		{
			isLoggedIn = true;
			LoginAlert = "Welcome Admin_User.";
		}
		else
		{
			LoginAlert = "Invalid Username or Password. Please Try Again.";
		}

		_model.Clear();
	}
}
