@page "/"
<h3>Home</h3>
@if (isLoggedIn == false)
{
	<EditForm Model="_model" OnValidSubmit="HandleLogin">
		<DataAnnotationsValidator/>
		<ValidationSummary/>
		<div>
			<label>Username</label>
			<InputText @bind-Value="_model.InputUsername"/>
		</div>
		<div>
			<label>Password</label>
			<InputText @bind-Value="_model.InputPassword"/>
		</div>
	</EditForm>
}
{
	
}
@code {
	private Login _login = new Login();

	private readonly BankLogin _model = new();
	private class BankLogin
	{
		public string? InputUsername { get; set; }
		public string? InputPassword{ get; set; }
		public void Clear()
		{
			InputUsername = string.Empty;
			InputPassword = string.Empty;
		}
	}

	private bool isLoggedIn = false;
	private string LoginAlert = "";
	private void HandleLogin()
	{
		if (_model.InputUsername == _login.Username && _model.InputPassword == _login.Password)
		{
			isLoggedIn = true;
			LoginAlert = "Welcome Admin_User.";
		}
		else
		{
			LoginAlert = "Invalid Username or Password. Please Try Again.";
			_model.Clear();
		}
	}
}
